@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Selamat Datang Kembali!</h1>
    <p class="lead">Anda telah berhasil login. Sekarang Anda bisa mengakses semua fitur.</p>
    <hr class="my-4">
    <p>Mulai kelola data pelanggan Anda sekarang juga.</p>
    <a class="btn btn-primary btn-lg" asp-controller="Customer" asp-action="Index" role="button">Lihat Data Customer</a>
</div>